@model IEnumerable<Personas>
@{
    ViewData["Title"] = "LIsta Usuarios";
}

<h1>Usuarios</h1>

<a asp-action="CrearPersona" class="btn btn-primary mb-3">Nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Funciones</th>
            <th>Id</th>
            <th>Área</th>
            <th>Perfil</th>
            <th>Descripción</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Codígo Secundario</th>
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personas in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-idPerson="@personas.idPerson">Editar</a>
                </td>
                <td>
                    @personas.idPerson
                </td>
                <td>
                    @personas.Area_idArea
                </td>
                <td>
                    @personas.PersonType_idPersonType
                </td>
                <td>
                    @personas.description
                </td>
                <td>
                    @personas.firstname
                </td>
                <td>
                    @personas.lastname
                </td>
                <td>
                    @personas.codeSecondary
                </td>
                <td>
                    @personas.active
                </td>
            </tr>
        }
    </tbody>
</table>
